@import './reset.css';

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    width: calc(100% / 5);
    height: 150px;
    background: yellow;
    background-repeat: no-repeat !important;
    background-size: cover;
    padding: 25px;
    margin-bottom: 10px;

    & > img {
      width: 98%;
      margin: 1%;
    }
  }
}

#image-browser { 
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border: red 2px dashed;
}